.section-listings {
  font-size: 1.8rem;
  letter-spacing: 1.2px;
  line-height: 1.8;

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @include respond(phone) {
      margin-bottom: 4rem;
    }

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      button {
        padding: 0.5rem 2rem;
        border: 1px solid var(--color-text-dark);
        background: none;
        border-radius: 1000px;
        text-transform: capitalize;
        color: var(--color-text-dark);
        cursor: pointer;
      }
    }

    input {
      padding: 1rem;
      font-size: 1.6rem;
      text-transform: capitalize;
    }

    p {
      text-transform: capitalize;
    }
  }
  &__grid {
    justify-items: center;
    row-gap: 4rem;
  }
}
