:root {
  --color-primary-dark: #121920;
  --color-primary-light: #2c3e50;

  --color-gold-light: #c69963;
  --color-gold-dark: #b28451;

  --color-text-light: #eaecee;
  --color-text-dark: #040608;

  --shadow-dark: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 1rem 4rem rgba(0, 0, 0, 0.1);

  --shadow-dark: 0 1rem 4rem rgba(0, 0, 0, 0.2);
  --shadow-light: 0 1rem 4rem rgba(0, 0, 0, 0.1);
  --transition: all 0.1s ease-in-out;
}
